html,body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.container-row{
	display: flex;
}
.container{
    width: 380px;
    margin: 10vh auto 0 auto;
    border: 24px;
		padding: 12px;
    overflow: hidden;
    border-radius: 25px;
    background-color:#2f3541; 
		display: flex;
		flex-direction: column;
}
.display{
    height: 130px;
    background-color: #2f3541;
    display: flex;
}
.container-column{
	display: flex;
	flex-direction: column;
}
.container-column-buttons-top{
	display: flex;
}
.container-column-buttons-bottom{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.container-row-right-buttons{
    display: flex;
		flex-direction: column;
}
.button{
    background-color: #333b48;
    font-size: 25px;
    cursor: pointer;
    border-radius: 23px;
    color: #fff;
    width: 75px;
    height: 75px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    transition: background-color 0.3s, scale 0.3s;
    
}
.button:hover{
    background-color: #606d85;

    scale: 1.05;
}
img{
    height: 25px;
    width: 25px;
}
.button-orange{
    background-color: orange;
    transition: scale 0.3s;
}
.button-orange:hover{
    background-color: orange;
    scale: 1.05;
}
.button-lightgray{
    background-color: #4a5664;
    transition: scale 0.3s;
}
.button-lightgray:hover{
    background-color: #4a5664;
    scale: 1.05;
}
.input{
    width: calc(100% - 32px);
    padding: 0;
    border: unset;
    margin: 16px;
    height: 114px;
    font-size: 80px;
    background-color: transparent;
    outline: unset;
}
#wyswietl{
    text-align: center;
    font-size: 150px;
    width: 200px;
    height: 130px;
    color: black;
}
.button-wiekszy{
    width: 170px;
}
.input-icon{
	display: none;
}